@use 'base';
@use 'functions' as *;
@use 'mixins' as *;

.title {
  @include typography('display-lg', 'bold');
}

.title-1 {
  color: getColor('brand', '400');
}

.title-2 {
  color: getColor('warning', '600');
}

.title-3 {
  color: getColor('error', '500');
}

.title-4 {
  color: getColor('success', '700');
}

.title-5 {
  color: getColor('gray', '600');
}
