@use '../functions' as *;
@use 'sass:map';

// prettier-ignore
$sizes: (
  "display-2xl": (font-size: remCalc(72), line-height: remCalc(90), letter-spacing: -0.02em),
  "display-xl": (font-size: remCalc(60), line-height: remCalc(72), letter-spacing: -0.02em),
  "display-lg": (font-size: remCalc(48), line-height: remCalc(60), letter-spacing: -0.02em),
  "display-md": (font-size: remCalc(36), line-height: remCalc(44), letter-spacing: -0.02em),
  "display-sm": (font-size: remCalc(30), line-height: remCalc(38)),
  "display-xs": (font-size: remCalc(24), line-height: remCalc(32)),
  "text-xl": (font-size: remCalc(20), line-height: remCalc(30)),
  "text-lg": (font-size: remCalc(18), line-height: remCalc(24)),
  "text-md": (font-size: remCalc(16), line-height: remCalc(24)),
  "text-sm": (font-size: remCalc(14), line-height: remCalc(20)),
  "text-xs": (font-size: remCalc(12), line-height: remCalc(18))
);

$weights: (
  'regular': 400,
  'medium': 500,
  'semibold': 600,
  'bold': 700,
);

@mixin typography($size, $weight) {
  @if map.has-key($sizes, $size) and map.has-key($weights, $weight) {
    @each $key, $value in map.get($sizes, $size) {
      #{$key}: $value;
    }
    font-weight: map.get($weights, $weight);
  } @else {
    @warn 'Invalid size or weight specified';
  }
}

// @mixin typography($size) {
//   @if map.has-key($sizes, $size) {
//     @each $key, $value in map.get($sizes, $size) {
//       #{$key}: $value;
//     }
//   } @else {
//     @warn 'Invalid size specified';
//   }
// }
